*{
  font-family: "B Yekan", cursive;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  position: relative;
}

::-webkit-scrollbar{
  display: none;
}

.main {
  height: auto;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 2vh 3vw;
  margin: 0 auto;
}

.main .loader {
  margin: 0 auto;
  display: block;
}

.main h1 , h3 , h4 {
  margin: 0;
}

.main .error {
  color: red;
  margin-right: 3vw;
}

.main ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  padding: 1vh;
  transition: all 0.3s ease;
}

.main ul li input {
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  padding: 0 5%;
  background-color: #ffffff;
  font-size: 13px;
}

.main ul li input:hover {
  background-color: #f4f5f7;
}

.saveAndNext {
  width: 100%;
  max-width: 200px;
  height: 5vh;
  border-radius: 10px;
  border: 0;
  margin: 5vh auto;
  background-color: #0d6efd;
  background: url("./Artboard 1.png");
  background-size: cover;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.saveAndNext:hover {
  background-color: #0056b3;
}

.saveAndNext:active {
  border: 2px solid #ffffff;
}

.main .links {
  text-decoration: none;
  color: #0022FF;
}

@media only print {
  body {
    display: none !important;
  }
}